In [1]:
import pandas as pd
import seaborn as sns 
import matplotlib.pyplot as plt 
from sklearn.model_selection import GridSearchCV
import warnings
warnings.filterwarnings('ignore')
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix,accuracy_score,classification_report
from sklearn.model_selection import RandomizedSearchCV
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error,mean_absolute_error
from sklearn.preprocessing import StandardScaler,RobustScaler,MinMaxScaler
import numpy as np
from sklearn.metrics import r2_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVC
from sklearn.svm import SVR
from sklearn.naive_bayes import GaussianNB
from sklearn.preprocessing import LabelEncoder
from sklearn.pipeline import Pipeline,make_pipeline
from sklearn.impute import KNNImputer
from sklearn.impute import SimpleImputer ## HAndle Missing Values
from sklearn.preprocessing import StandardScaler ## Feature Scaling
from sklearn.preprocessing import OneHotEncoder ## categorical to numerical
from sklearn.compose import ColumnTransformer
from sklearn.ensemble import RandomForestClassifier,RandomForestRegressor
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier,GradientBoostingRegressor
import xgboost as xb
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neighbors import KNeighborsRegressor
from sklearn.decomposition import PCA
from sklearn.linear_model import LinearRegression,Ridge,Lasso
from imblearn.combine import SMOTETomek
from xgboost import XGBClassifier
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_val_predict
from sklearn.metrics import roc_auc_score
from imblearn.over_sampling import SMOTE
from sklearn.model_selection import StratifiedGroupKFold
import sweetviz as sv 
pd.set_option('display.max_columns',None)
plt.rcParams['figure.figsize']=(15,10)
from sklearn.feature_selection import mutual_info_classif  ## good for only classification problem

In [2]:
df=pd.read_csv('gemstone.csv')

In [3]:
df.head()

   id  carat        cut color clarity  depth  table     x     y     z  price
0   0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1   1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2   2   0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3   3   0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4   4   1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453

In [4]:
df.isnull().sum()

id         0
carat      0
cut        0
color      0
clarity    0
depth      0
table      0
x          0
y          0
z          0
price      0
dtype: int64

In [5]:
df.duplicated().sum()

0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193573 entries, 0 to 193572
Data columns (total 11 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       193573 non-null  int64
 1   carat    193573 non-null  float64
 2   cut      193573 non-null  object
 3   color    193573 non-null  object
 4   clarity  193573 non-null  object
 5   depth    193573 non-null  float64
 6   table    193573 non-null  float64
 7   x        193573 non-null  float64
 8   y        193573 non-null  float64
 9   z        193573 non-null  float64
 10  price    193573 non-null  int64
dtypes: float64(6), int64(2), object(3)
memory usage: 16.2+ MB

In [7]:
df.describe()

,id,carat,depth,table,x,y,z,price
count,193573.000000,193573.000000,193573.000000,193573.000000,193573.000000,193573.000000,193573.000000,193573.000000
mean,96786.000000,0.790688,61.820574,57.227675,5.715312,5.720094,3.534246,3969.155414
std,55879.856166,0.462688,1.081704,1.918844,1.109422,1.102333,0.688922,4034.374138
min,0.000000,0.200000,52.100000,49.000000,0.000000,0.000000,0.000000,326.000000
25%,48393.000000,0.400000,61.300000,56.000000,4.700000,4.710000,2.900000,951.000000
50%,96786.000000,0.700000,61.900000,57.000000,5.700000,5.720000,3.530000,2401.000000
75%,145179.000000,1.030000,62.400000,58.000000,6.510000,6.510000,4.030000,5408.000000
max,193572.000000,3.500000,71.600000,79.000000,9.650000,10.010000,31.300000,18818.000000

In [8]:
df.drop('id',axis=1,inplace=True)

In [9]:
df.head()

   carat        cut color clarity  depth  table     x     y     z  price
0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2   0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3   0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4   1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453

In [10]:
### lets add one more column

In [11]:
df['Volume']=df['x']*df['y']*df['z']

In [12]:
df.head()

,carat,cut,color,clarity,depth,table,x,y,z,price,Volume
0,1.52,Premium,F,VS2,62.2,58.0,7.27,7.33,4.55,13619,242.465405
1,2.03,Very Good,J,SI2,62.0,58.0,8.06,8.12,5.05,13387,330.508360
2,0.70,Ideal,G,VS1,61.2,57.0,5.69,5.73,3.50,2772,114.112950
3,0.32,Ideal,G,VS1,61.6,56.0,4.38,4.41,2.71,666,52.345818
4,1.70,Premium,G,VS2,62.6,59.0,7.65,7.61,4.77,14453,277.692705

In [13]:
df.columns

Index(['carat', 'cut', 'color', 'clarity', 'depth', 'table', 'x', 'y', 'z',
       'price', 'Volume'],
      dtype='object')

In [14]:
categorical_feat=[feature for feature in df.columns if df[feature].dtype=='O']

In [15]:
categorical_feat

['cut', 'color', 'clarity']

In [16]:
for feature in categorical_feat:
    print(df[feature].value_counts())
    print('**************************')

cut
Ideal        92454
Premium      49910
Very Good    37566
Good         11622
Fair          2021
Name: count, dtype: int64
**************************
color
G    44391
E    35869
F    34258
H    30799
D    24286
I    17514
J     6456
Name: count, dtype: int64
**************************
clarity
SI1     53272
VS2     48027
VS1     30669
SI2     30484
VVS2    15762
VVS1    10628
IF       4219
I1        512
Name: count, dtype: int64
**************************

In [17]:
numerical_feat=[feature for feature in df.columns if df[feature].dtype!='O']

In [18]:
numerical_feat

['carat', 'depth', 'table', 'x', 'y', 'z', 'price', 'Volume']

In [19]:
def remove_outliers(df,cols):
    for feature in cols:
        Q1=df[feature].quantile(0.25)
        Q3=df[feature].quantile(0.75)
        IQR=Q3-Q1
    
        lower_bound=Q1-1.5*IQR
        upper_bound=Q3+1.5*IQR
        
        df.loc[df[feature] > upper_bound,feature]=upper_bound
        df.loc[df[feature] < lower_bound,feature]=lower_bound

In [20]:
remove_outliers(df,numerical_feat)

In [21]:
df.head()

,carat,cut,color,clarity,depth,table,x,y,z,price,Volume
0,1.520,Premium,F,VS2,62.2,58.0,7.27,7.33,4.55,12093.5,242.465405
1,1.975,Very Good,J,SI2,62.0,58.0,8.06,8.12,5.05,12093.5,325.661115
2,0.700,Ideal,G,VS1,61.2,57.0,5.69,5.73,3.50,2772.0,114.112950
3,0.320,Ideal,G,VS1,61.6,56.0,4.38,4.41,2.71,666.0,52.345818
4,1.700,Premium,G,VS2,62.6,59.0,7.65,7.61,4.77,12093.5,277.692705

In [22]:
categorical_feat

['cut', 'color', 'clarity']

In [23]:
for feature in categorical_feat:
    encoding=df.groupby(feature)['price'].mean().index
    encoding={k:i for i,k in enumerate(encoding,0)}
    df[feature]=df[feature].map(encoding)

In [24]:
df.groupby('cut')['price'].mean().index

Index([0, 1, 2, 3, 4], dtype='int64', name='cut')

In [25]:
df.head()

,carat,cut,color,clarity,depth,table,x,y,z,price,Volume
0,1.520,3,2,5,62.2,58.0,7.27,7.33,4.55,12093.5,242.465405
1,1.975,4,6,3,62.0,58.0,8.06,8.12,5.05,12093.5,325.661115
2,0.700,2,3,4,61.2,57.0,5.69,5.73,3.50,2772.0,114.112950
3,0.320,2,3,4,61.6,56.0,4.38,4.41,2.71,666.0,52.345818
4,1.700,3,3,5,62.6,59.0,7.65,7.61,4.77,12093.5,277.692705

In [32]:
df.drop('Volume',axis=1,inplace=True)

In [26]:
############# Model trainig

In [33]:
model=[DecisionTreeRegressor(),RandomForestRegressor(),GradientBoostingRegressor(),LinearRegression()]

In [34]:
def best_model(X_train,X_test,y_train,y_test,model_to_select):
    for model in model_to_select:
        print(model)
        model.fit(X_train,y_train)
        y_pred=model.predict(X_test)
        print(r2_score(y_test,y_pred))
        print(mean_squared_error(y_test,y_pred))
        print('****************')

In [35]:
X=df.drop('price',axis=1)
y=df.price

In [36]:
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=42,test_size=0.3)

In [37]:
best_model(X_train,X_test,y_train,y_test,model)

DecisionTreeRegressor()
0.9712625401562304
348687.1157358777
****************
RandomForestRegressor()
0.9844981274803143
188092.5887945648
****************
GradientBoostingRegressor()
0.9809986509899913
230553.62643080475
****************
LinearRegression()
0.9310447241936648
836671.5905440652
****************

In [38]:
### we will chose random forest for our model training pipeline